<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background-color: #363636;
        }
        button{
            padding: .4rem .8rem;
            border-radius: 0.3rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 800;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <a href="/"><button>Início</button></a>
    <div class="form">
        <form action="/sucess" method="POST">
            <div class="inputs">
                <label for="name">Nome da criança: </label>
                <input type="text" name="name" id="name" autocomplete="off" required>
            </div>
            <div class="inputs">
                <label for="number">Número do calçado: </label>
                <input type="number" name="number" id="number" autocomplete="off" required>
            </div>
            <div class="inputs">
                <label for="age">Idade: </label>
                <input type="number" name="age" id="age" min="1">
            </div>
            <div class="inputs">
                <label for="masc">Masculino </label>
                <input type="radio" name="gender" id="masc" value="Masculino">
            </div>
            <div class="inputs">
                <label for="fem">Feminino </label>
                <input type="radio" name="gender" id="fem" value="Feminino">
            </div>
            <div class="inputs">
                <label for="clothing">Tamanho que veste: </label>
                <input type="number" name="clothing" id="clothing" min="1">
            </div>
            <div class="inputs">
                <label for="mother-name">Nome da mãe: </label>
                <input type="text" name="motherName" id="mother-name" autocomplete="off" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script>
        document.getElementById('name').focus()
    </script>
</body>
</html>