<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Formulário</title>
</head>

<body>
    <a href="/"><button>Início</button></a>
    <div class="form">
        <form class="mainForm" action="/sucess" method="POST">
            <div class="mainInputs">
                <div class="inputs">
                    <label for="name">Nome da criança: </label>
                    <input type="text" name="name" id="name" autocomplete="off" required>
                </div>
                <div class="inputs">
                    <label for="number">Número do calçado: </label>
                    <input type="number" name="number" id="number" autocomplete="off" required>
                </div>
                <div class="inputs">
                    <label for="birthdate">data de nascimento: </label>
                    <input type="date" name="birthdate" id="birthdate" required>
                </div>
                <div class="inputs">
                    <label for="masc">Masculino </label>
                    <input type="radio" name="gender" id="masc" value="Masculino">
                </div>
                <div class="inputs">
                    <label for="fem">Feminino </label>
                    <input type="radio" name="gender" id="fem" value="Feminino">
                </div>
                <div class="inputs">
                    <label for="clothing">Tamanho que veste: </label>
                    <input type="number" name="clothing" id="clothing" min="1">
                </div>
                <div class="inputs">
                    <label for="mother-name">Nome da mãe: </label>
                    <input type="text" name="motherName" id="mother-name" autocomplete="off" required>
                </div>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script>
        document.getElementById('name').focus()
    </script>
</body>
</html>