<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1{
            font-size: 3rem;
        }
        *{
            margin: 0;
            font-family: sans-serif;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background-color: #363636;
            color: #fff;
        }
        .buttons{
            display: flex;
            gap: 1.3rem;
            margin-top: 1.2rem;
        }
        button{
            padding: .4rem .8rem;
            border-radius: 0.3rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1>Cadastro dos Sapatos</h1>
    <div class="buttons">
        <a href="/register"><button>Adicionar novo nome</button></a>
        <a href="/overview"><button>Visão geral</button></a>
    </div>
    <form action="/toFilter" method="POST">
        <label for="numberToFilter">Pesquisar por numeração: </label>
        <input type="number" name="numberToFilter" id="numberToFilter">
        <button type="submit">Pesquisar</button>
    </form>
</body>
</html>